footer {
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

.iconoFooter {
    height: 30px;
    margin: 0 50px 20px;
}

.face {
    height: 40px;
}

.whats {
    position: fixed;
    height: 60px;
    bottom: 20px;
    right: 20px;
}