h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

main {
    margin: 50px;
    padding: 50px;
}

.containerInicio {
    display: grid;
}

.titulosPlaylist {
    h1 {
        margin-top: 150px;
    }

    h2 {
        margin-top: 80px;
    }
}

.playlist {
    width: 100%;
}

.playlistUno {
    margin-bottom: 3rem;
}