/********** Media Queries **********/
@media (max-width: 1550px) {
    .video {
        display: block;
    }

    .videoAchicado {
        height: 500px;
        width: 815px;
    }
}

@media (min-width: 990px) {
    .containerInicio {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 989px) {
    .titulosPlaylist h1 {
        margin-top: 0;
    }

    .video {
        display: block;
    }

    .videoAchicado,
    .videoGrande {
        height: 400px;
        width: 565px;
    }
}

@media (max-width: 768px) {
    .titulosPlaylist h1 {
        margin-top: 0;
    }

    .mapa {
        height: 450px;
    }

    .calendario {
        height: 350px;
    }

    main {
        margin: 15px;
        padding: 15px;
    }

    .iconoFooter {
        height: 30px;
        margin: 0 25px 15px;
    }

    .video {
        display: block;
    }

    .videoAchicado,
    .videoGrande {
        height: 215px;
        width: 300px;
    }
}